*/.idea
*/.vscode
*/.metadata
desktop.ini

COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.db_info
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.tmw_info
COSE222/Term Project/RV32I_System_Syn/RV32I_System.qws
