*/.idea
*/.vscode
*/.metadata
desktop.ini

COSE222/riscv32i
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.db_info
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.tmw_info
COSE222/Term Project/RV32I_System_Syn/RV32I_System.qws
COSE222/Term Project/RV32I_System_Sim/insts_data.ver
COSE222/Term Project/RV32I_System_Sim/vsim.wlf
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.asm.qmsg
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.asm.rdb
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.cmp.cdb
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.cmp.hdb
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.cmp.rdb
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.map.cdb
COSE222/Term Project/RV32I_System_Syn/db/RV32I_System.mif_update.qmsg
COSE222/Term Project/RV32I_System_Syn/output_files/RV32I_System.asm.rpt
COSE222/Term Project/RV32I_System_Syn/output_files/RV32I_System.flow.rpt
COSE222/Term Project/RV32I_System_Syn/output_files/RV32I_System.mif_update.rpt
COSE222/Term Project/RV32I_System_Syn/output_files/RV32I_System.jdi
COSE222/Term Project/RV32I_System_Syn/output_files/RV32I_System.sof

COSE156/ex.py
COSE156/naver_frozen2.txt
COSE156/naver_showman.txt
COSE156/naver_toy3.txt
COSE156/wordcloud.png
COSE156/iris.csv
COSE156/titanic.csv

COSE214/HW5/text.txt
COSE214/HW5/result_text_output.txt
COSE214/HW5/answer_text_output.txt
COSE214/HW5/answer_text_binary.txt
COSE214/HW5/result_text_binary.txt